<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ClientId" value="36f76918-4bf4-4d2a-8bf5-cb54314c93f8"/>
    <add key="ClientSecret" value="EdJlh8Hq7J0ynPE3+TYoR7gIdBpab0DW0j8IdcQlkRI="/>
  </appSettings>
</configuration>